@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    margin: 0 auto;
    text-align: center; 
    font-family: 'Open sans', sans-serif;
    background-color: #1d3557;
    color: #f1faee;
}

.grid {
    width: 400px;
    height: 400px;
    border: solid 1px #f1faee;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}


.square {
    width: 40px;
    height: 40px;
    background-color: #a8dadc;
}